@import "compass";

@include global-reset;

$font-color: #666;

body {
  font-family: helvetica, arial, verdana;
  color: $font-color; 
  background-color: #EEEEEE;
  font-size: 12px;
}

#main {
  padding: 50px;
}

.Column {
  float: left;
  margin: 0 10px 0 0;
}

@import "StreamerItem";