@import "compass";

@include global-reset;

$font-color: #666;

body {
  font-family: helvetica, arial, verdana;
  color: $font-color; 
  background-color: #CCC;
  font-size: 12px;
}

#main {
  padding: 50px;
}

.PlusItem {
  
  $plusItem-width: 300px;
  
  height: $plusItem-width;
  width: 300px;
  background-color: #FDFDFD;
  overflow: hidden;
  margin: 0 0 10px 0;
  
  .UserThumb {
    height: 25px;
    width: 25px;
    border: 1px solid #666;
  }
  
  .UserInfo {
    height: 25px;
    width: $plusItem-width;
    background-color: #FFF;
    
    .UserName {
      line-height: 25px;
    }
  }
  
  a {
    text-decoration: none;
    color: $font-color;
  }
  
}

.Column {
  float: left;
  margin: 0 10px 0 0;
}