.StreamerItem {
  
  $plusItem-width: 325px;
  $light-border: 1px solid #DDD;
  
  position: relative;
  width: $plusItem-width;
  height: auto;
  min-height: 50px;
  background-color: #000;
  overflow: hidden;
  margin: 0 0 10px 0;
  border: $light-border;
  
  .UserInfoView {
    z-index: 2;
    padding-top: 1px;
    height: 35px;
    overflow: hidden;
    width: $plusItem-width;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    
    .content {
      margin: 4px 0 0 5px;
    }
    
    .UserThumb {
      float: left;
      height: 25px;
      width: 25px;
      border: $light-border;
    }
    
    .UserName {
      float: left;
      height: 25px;
      max-width: 260px;
      line-height: 25px;
      margin: 2px 0 0 5px;
      font-weight: bold;
    }
  }
  
  .MainView {
    top: 1px;
    bottom: 0px;
    z-index: 1;
    width: $plusItem-width;
    background-color: #FFF;
    padding: 1px 0 1px 0;
    
    .content {
      margin: 5px 5px 5px 5px;
    }
    
    img {
      display: block;
      width: 315px;
      height: auto;
      margin: 4px 5px 4px 5px;
    }
    
    img.Photo {
      
    }
    
    img.Thumb {
      
    }
    
    iframe {
      display: block;
    }
    
    .MainText {
      color: #36C;
      font-size: 12px;
      line-height: 14px;
    }
    
    .SubText {
      color: #666;
      font-size: 12px;
      line-height: 14px;
    }
    
  }
  
  .DetailsView {
    z-index: 0;
    padding-top: 1px;
    width: $plusItem-width;
    background-color: #FFF;
    color: #666;
    border-top: 1px solid #DDD;
    
    .content {
      margin: 4px 0 0 5px;
    }
  }
  
  a {
    text-decoration: none;
    color: $font-color;
  }
  
}