<div class="PlusItem">
  
  <div class="UserInfo">
    <a href="{{actor.image.url}}" target="_blank"><img class="UserThumb" src="{{actor.image.url}}" alt="" /></a>
    <span class="UserName"><a href="{{actor.image.url}}" target="_blank">{{actor.displayName}}</a></span>
  </div>
  
  
  
  <h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
  
  {{#object.attachments}}
    <img src="{{fullImage.url}}" alt="" />
  {{/object.attachments}}
  
  
</div>