<div class="StreamerItem" style="background-color: #D6D6D6">
  
  <div class="UserInfoView">
		<div class="content">
    	<a href="{{user.url}}" target="_blank"><img class="UserThumb" src="{{user.image}}" alt="" /></a>
    	<div class="UserName"><a href="{{user.url}}" target="_blank">{{user.name}}</a></div>
		</div>
	</div>
  
	<div class="MainView">
		{{#isPhoto}}
    <img class="Photo" src="{{image.url}}" width="image.width" height="image.height" alt="" />
		{{/isPhoto}}
		
		{{#isArticle}}
    <img class="Thumb" src="{{image.url}}" width="image.width" height="image.height" alt="" />
		<div class="content">
			<h4 class="MainText">{{{mainText}}}</h4>
			<p class="SubText">{{{subText}}}</p>
		</div>
		{{/isArticle}}
		
		{{#isActivity}}
		<p class="MainText">{{mainText}}</p>
		{{/isActivity}}
		
		{{#isVideo}}
		<img src="{{image.url}}" alt="" />
		<!--<iframe src="{{video.embed}}" width="325" height="180"></iframe>-->
		{{/isVideo}}
	</div>
  
  <div class="DetailsView">
		<div class="content">
	  	type: {{type}}<br />
		  <a href="{{url}}" target="_blank" />open in plus</a><br />
			<div id="plusone-{{id}}" data-href="{{url}}"></div>
		</div>
	</div>
  
</div>