<div class="StreamerItem" style="background-color: {{color}}">
  
  <div class="UserInfoView">
		<div class="content">
    	<a href="{{user.url}}" target="_blank"><img class="UserThumb" src="{{user.image}}" alt="" /></a>
    	<div class="UserName"><a href="{{user.url}}" target="_blank">{{user.name}}</a></div>
		</div>
	</div>
  
	<div class="MainView">
		{{#hasImage}}
    <img src="{{image.url}}" width="image.width" height="image.height" alt="" />
		{{/hasImage}}
		{{#noImage}}
		<p class="MainText">{{mainText}}</p>
		{{/noImage}}
	</div>
  
  <div class="DetailsView">
		<div class="content">
	  	<h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
		</div>
	</div>
  
</div>