<% content_for :head do %>
  <title>Google+ API</title>
<% end%>

<div class="content">
  
  <div id="login-btn">Login</div>
  
  <div id="search-btn">Search</div>
  
  <div id="profile-holder"></div>
  
  <div id="activity-holder"></div>
  
  <div id="docs-holder">
    <h2>Documentation</h2>
    <ul>
      <li><a href="https://developers.google.com/+/api/" target="_blank">API Documentation</a></li>
      <li><a href="https://code.google.com/apis/console" target="_blank">Google API Admin Console</a></li>
      <li><a href="https://code.google.com/p/google-api-javascript-client" target="_blank">Google API Client Library for JavaScript (alpha)</a></li>
      <li><a href="https://developers.google.com/apis-explorer/#p/plus/v1/" target="_blank">Google Plus API Explorer</a></li>
    </ul>
  </div>
  
  <div id="item-stream-holder">
    <div id="col1" class="Column"></div>
    <div id="col2" class="Column"></div>
    <div id="col3" class="Column"></div>
    <div id="col4" class="Column"></div>
  </div>
  
  <%= partial "views/templates" %>
  
</div>